@media (min-width: 300px) {
  .aboutSection {
    position: relative;
    margin: 22rem 1rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid $color5;
  }
  .aboutImg {
    position: absolute;
    right: -5rem;
  }
  .aboutH6 {
    margin-top: 3rem;
    padding: 0;
    font-family: "Great Vibes", cursive;
    font-size: 1.2rem;
    text-align: right;
    text-transform: unset;
    color: $color1;
  }
}
@media (min-width: 1100px) {
  .aboutSection {
    width: 35vw;
    margin: 1rem 0 0 4rem;
    border-bottom: 0;
  }
  .aboutP {
    width: 35vw;
    padding-right: $space2;
    border-right: 1px solid $color5;
  }
  .aboutImg {
    display: block;
  }
}
@media (min-width: 1400px) {
  .aboutH6 {
    margin-top: 3.4rem;
    font-size: 1.7rem;
  }
  .aboutP {
    padding-right: $space2;
  }
}
@media (min-width: 1600px) {
  .aboutH6 {
    margin-top: 4.4rem;
    font-size: 1.9rem;
  }
}
@media (min-width: 1800px) {
  .aboutH6 {
    margin-top: 4.8rem;
    font-size: 2.2rem;
  }
}
