.funeralHomeSection {
  margin: 1vw 0 0;
  padding: 2rem 0;
  background-color: $color1;
}
.funeralHomeH3 {
  color: $color2;
}
.funeralHomeImagesWrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: $space1 auto;
}
.funeralHomeImg {
  max-width: 90vw;
  margin: 0 auto 1rem;
  border-radius: 30px;
  border: 3px solid $color5;
}
.funeralHomeP {
  text-align-last: center;
  max-width: 90%;
  color: $color2;
}

@media (min-width: 1100px) {
  .funeralHomeImagesWrap {
    flex-direction: row;
  }
  .funeralHomeImg {
    max-width: 47vw;
    max-height: none;
    margin: 0 auto 0 1.5vw;
  }
}
